.visual {
    width: 2000px;
    margin-top: 220px;
    position: relative;
    left: 50%;
    margin-left: -1000px;
    top: 0;
}

.visual h3 {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 2.8em;
    left: 0;
    top: 100px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.visual P {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 1.4em;
    left: 0;
    top: 150px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.sub_menu {
    width: 600px;
    margin: 0 auto;
    position: relative;
    top: -69px;
    margin-bottom: -69px;
}

.sub_menu ul {
    overflow: hidden;
    margin: 0 auto;
}

.sub_menu ul li {
    float: left;
}

.sub_menu ul li a {
    display: block;
    font-size: 20px;
    padding: 20px 0;
    width: 200px;
    background: rgba(0, 0, 0, .6);
    text-align: center;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.sub_menu ul li a:hover {
    background: #fff;
    color: #333;
    font-weight: bold;
}

.sub_menu .current a {
    background: #1668b3;
    color: white;
    font-weight: bold;
}


#content {
    width: 1200px;
    margin: 0 auto;
}

#content .title_area {
    position: relative;
    padding-top: 150px;
}

#content .title_area p {
    text-align: center;
    margin-bottom: 150px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

#content .line_map {
    position: absolute;
    right: 10px;
    top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

#content h2 {
    text-align: center;
    font-size: 56px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

#content .title_area::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -110px;
    width: 2px;
    height: 80px;
    background: #999;
}

#footerArea {
    margin-top: 180px;
}


#content .content_area {
    position: relative;
}

#content .content_area h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #333;
    padding-top: 100px;
    text-align: center;
    position: relative;
}

#content .content_area .history h3::before {
    content: '';
    display: block;
    position: absolute;
    top: 170px;
    left: 558px;
    width: 90px;
    height: 5px;
    background: #1668b3;
}

#content .content_area .history .slogan {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #666;
    text-align: center;
    padding: 50px 0 100px 0;
}


#list_search {
    overflow: hidden;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    margin: 5px 0;
}

#list_search1 {
    margin-top: 2px;
    float: left
}

#list_search .list_search_group {
    float: right;
    overflow: hidden
}

#list_search .list_search_group div {
    float: left
}

.content_area .scale {
    position: absolute;
    top: 40px;
    left: 125px;
    padding: 5px
}

#list_search #list_search4 {
    margin-left: 3px
}

#list_search #list_search4 input {
    padding: 5px
}

#list_search #list_search5 {
    margin-left: 5px;
    margin-top: 1px;
}

#list_search #list_search5 input {
    padding: 3px 10px;
    background: none;
    border: 2px solid #1668b3;
    color: #1668b3;
    border-radius: 2px;
    font-weight: 500;
}

#list_search select {
    padding: 5px
}


#list_top_title {
    padding: 25px 40px 25px 0;
    font-weight: 700;
    font-size: 1em;
    background-color: #f5f5f5;
    margin: 40px 0 3px;
    color: #666;
    /* border: 1px solid #eee; */
    border-radius: 8px;
}

#list_top_title ul {
    overflow: hidden
}

#list_top_title ul li {
    float: left
}

#list_title1 {
    text-align: center;
    width: 100px
}

#list_title2 {
    text-align: center;
    width: 600px
}

#list_title3 {
    text-align: center;
    width: 160px
}

#list_title4 {
    text-align: center;
    width: 140px
}

#list_title5 {
    text-align: center;
    width: 100px
}


.list_item {
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 8px;
    font-family: "Noto Sans KR";
    letter-spacing: -0.3px;
    line-height: normal;
    vertical-align: baseline;
    word-break: keep-all;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 25px 40px 25px 0;
    cursor: pointer;
    font-size: 1.29em;
    margin: 5px 0;
    color: #999;
}

.list_item div {
    float: left
}

.list_item1 {
    text-align: center;
    width: 100px
}

.list_item2 {
    text-align: center;
    width: 600px;
    color: #333;
    font-weight: 700;
}

.list_item3 {
    text-align: center;
    width: 160px
}

.list_item4 {
    text-align: center;
    width: 140px
}

.list_item5 {
    text-align: center;
    width: 100px
}


#page_button {
    
    font-family: 'Nanum Gothic', sans-serif;
    overflow: hidden;
    padding-top: 30px
}

#page_num {
    float: left;
    width: 80%;
    text-align: center;
    padding-top: 6px
}

#button {
    float: right;
    overflow: hidden
}

#button a {
    display: block;
    float: left;
    width: 100px;
    border-radius: 25px;
    text-align: center;
    color: #1668b3;
    padding: 7px 0;
    margin-left: 10px;
    border: 2px solid #1668b3;
    transition: all .2s ease-in;
}

#button a:hover {
    background: #1668b3;
    color: #fff;
}

.content_area #write_form {
    width: 1100px;
    margin: 0 auto 50px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
}

.col1 {
    margin: 5px 0;
    width: 100px;
    font-weight: 700;
    background: #fff;
    float: left;
    text-align: center;
    margin-right: 10px
}

.col2 {
    margin: 5px 0;
    float: left
}

.col3 {
    float: right;
    padding-top: 15px
}

#write_row1 {
    border-bottom: 1px solid #ccc;
    border-top: 3px solid #1668b3;
    overflow: hidden;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
}

#write_row1 div {
    float: left;
}

#write_row1 .col1 {
    text-align: center;
    width: 100px;
    margin-right: 20px;
    padding: 20px;
}

#write_row1 .col3 {
    float: right;
    padding: 20px;
}

#write_row1 .col2 {
    padding: 20px;
}

#write_row2 {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

#write_row2 .col1 {
    text-align: center;
    width: 100px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    margin-right: 20px;
    padding: 20px;
}

#write_row2 div {
    float: left;
}

#write_row2 .col2 input {
    outline: none;
    border: none;
    margin-top: 12px;
    background: #f7f7f7;
    width: 900px;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

#write_row3 {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

#write_row3 .col1 {
    text-align: center;
    width: 100px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    margin-right: 20px;
    padding: 20px;
}

#write_row3 div {
    float: left;
}

#write_row3 .col2 textarea {
    outline: none;
    border: none;
    margin: 12px 0;
    background: #f7f7f7;
    width: 900px;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}


#write_button {
    margin-top: 15px;
    width: 260px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden
}

#write_button input {
    font-family: 'Nanum Gothic', sans-serif;
    display: block;
    float: right;
    width: 100px;
    border-radius: 25px;
    text-align: center;
    color: #1668b3;
    padding: 7px 0;
    margin-left: 10px;
    border: 2px solid #1668b3;
    transition: all .2s ease-in;
}

#write_button input:hover {
    background: #1668b3;
    color: #fff;
}

#write_button a {
    font-family: 'Nanum Gothic', sans-serif;
    display: block;
    float: left;
    width: 100px;
    border-radius: 25px;
    text-align: center;
    color: #1668b3;
    padding: 7px 0;
    margin-left: 10px;
    border: 2px solid #1668b3;
    transition: all .2s ease-in;
}

#write_button a:hover {
    background: #1668b3;
    color: #fff;
}

form {
    padding: 40px 0 0;
}


#view_title {
    padding: 25px 40px 25px 0;
    font-weight: 700;
    background-color: #f5f5f5;
    margin: 10px 0 3px;
    color: #666;
    overflow: hidden;
    border-radius: 8px;
    font-size: 1.2em;
}


#view_title1 {
    float: left;
    width: 70%;
    margin-left: 20px;
}

#view_title2 {
    float: left;
    width: 28%;
    text-align: right;
}


#view_content {
    width: 96%;
    min-height: 200px;
    padding: 15px;
    margin-bottom: 30px;
    overflow: hidden;
    line-height: 150%;
    border-bottom: solid 1px #cccccc;
    text-align: justify;
}

#view_button {
    margin: 0 auto;
    width: 525px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    overflow: hidden
}

#view_button a {
    display: inline;
    float: left;
    color: #1668b3;
    width: 110px;
    padding: 10px 0;
    margin-right: 10px;
    border-radius: 25px;
    border: 2px solid #1668b3;
    transition: all .2s ease-in;
}

#view_button a:nth-child(4) {
    margin-right: 0;
}

#view_button a:hover {
    background: #1668b3;
    color: #fff;
}