body {
    background: #f6f6f6;
}

form {
    width: 90%;
    margin: 0 auto;
}

h1 a {
    display: block;
    width: 200px;
    height: 100px;
    background: url(../images/logo_b.png) 0 0 no-repeat;
    text-indent: -999px;
    overflow: hidden;
    margin: 40px auto 10px;
}

h2 {
    font-size: 2em;
    position: relative;
    margin: 0 0 0 30px;
}

h2::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 5px solid #1668b3;
    border-radius: 50%;
    top: 15px;
    left: -25px;
}

#content {
    width: 600px;
    margin: 40px auto;
    font-family: 'Nanum Gothic', sans-serif;
    border-radius: 20px;
    padding: 50px 0;
    background: #fff;
    overflow: hidden;
    box-shadow: 10px 10px 10px 1px rgb(0 0 0 / 1%);
}

#title p{
    margin: 0 0 40px 30px;
}

#hp1{width: 29%; height: 54px;}

.hp{width: 30.3%; margin: 20px 0;}

.row {
    margin-bottom: 16px;
}

.row label {
    display: block;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0 0 8px 4px;
}

input,
textarea {
    width: 100%;
    height: 56px;
    border: 1px solid #ececec;
    border-radius: 4px;
    background: rgba(255, 255, 255, .5);
    padding: 12px 16px 13px 16px;
    box-sizing: border-box;
    font-size: 1.125em;
    font-weight: 500;
}

input:focus,
textarea:focus {
    outline-color: rgba(25, 121, 189, .5);
}

input::placeholder,
textarea::placeholder {
    color: #C1C1C1;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

/* login_button */
#login_button {
    margin-top: 32px;
    overflow: hidden;
    position: relative;
}

#login_button button {
    display: block;
    width: 100%;
    padding: 16px 0 17px;
    border-radius: 4px;
    border: 1px solid #1979bd;
    background: #1979bd;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    transition: all .2s;

}

#login_button button:hover {
    border: 1px solid #1979bdec;
    background: #1979bdec;
}

/* find_wrap */
.find_wrap {
    text-align: center;
    margin-top: 24px;
}

.find_wrap li {
    display: inline-block;
}

.find_wrap li:nth-child(2) {
    margin-left: 28px;
    position: relative;
    color: #666;
}

.find_wrap li:nth-child(2)::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 13px;
    border-radius: 0.5px;
    background: #999;
    position: absolute;
    left: -16px;
    top: 6px;
}

.find_wrap li a {
    color: #666;
}

/* join */
.join {
    text-align: center;
    margin-top: 32px;
}

.join span {
    color: #666;
    font-weight: 500;
}

.join a {
    display: inline-block;
    color: #1979bd;
    font-weight: 700;
}

.left {
    width: 90%;
    margin: 0 auto;
}

.find{
    background: #1668b3;
    border: 1px solid #1668b3;
    color: #fff;
}

fieldset{
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
}


/* btn_wrap */
.btn_wrap {
    margin-top: 32px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.member_btn_wrap {
    margin-top: 56px;
}

.btn_wrap .btn {
    display: block;
    padding: 16px 0 17px;
    border-radius: 4px;
    border: 1px solid #1979bd;
    background: #1979bd;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    position: relative;
}

.btn_wrap2 li {
    float: left;
    width: 50%;
}

.btn_wrap2 li:nth-child(1) .btn {
    border: 1px solid #1979bd;
    background: #fff;
    color: #1979bd;
    margin-right: 8px;
}

.find_name.find_input{
    margin-bottom: 20px;
}