#content {
    width: 90%;
}

#content img{
    width: 90%;
    background: #ccc;
    padding: 5%;
    margin: 5% 0;
}

#content p {
    font-size: 1em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    margin: 20px auto;
    text-align: justify
}