.visual {
    height: 200px;
    background: url(../images/sub3/visualx2.jpg) no-repeat center;
    background-size: cover;
}

.visual h3 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    text-align: center;
    font-size: 2em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #fff;
}

.visual P {
    width: 100%;
    position: absolute;
    left: 0;
    top: 135px;
    text-align: center;
    font-size: 1em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #fff;
}

#content {
    width: 100%;
    margin: 0 auto;
}

#content h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    margin: 5% 0;
}