#content {
    width: 90%;
}

#content h3{
    font-size: 1.29em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    position: relative;
    margin: 40px 20px 10px;
}

#content h3::after{
    content: '';
    position: absolute;
    top: 7px;
    left: -20px;
    border: 3px solid #1668b3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.content_area table {
    border-top: 2px solid #999;
    font-size: 1em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;

}

.content_area table thead th {
    text-align: center;
    background: #f5f5f5;

}

.content_area table thead th:nth-child(2) {
    border-left: 1px solid #e5e5e5;
}

.content_area table th {
    font-weight: 400;
    word-break: keep-all;
    padding: 3%;

}

.content_area table td {
    border-left: 1px solid #e5e5e5;
    width: 65%;
    padding: 3%;

}

#content p{
    font-size: .9em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    margin: 10px 0 40px;
}

#content .content_area img{width: 40%; margin: 3%;}

#content .content_area .brand{ margin: 0 auto;}