#content h3 {
    font-size: 1.29em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    position: relative;
    margin: 40px 20px 10px;
}

#content h3::after {
    content: '';
    position: absolute;
    top: 7px;
    left: -20px;
    border: 3px solid #1668b3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

#content .content_area .cont {
    width: 90%;
    margin: 0 auto;
}

#content .content_area ul li {
    position: relative;
    margin-bottom: 60%;
}

#content .content_area dl {
    width: 70%;
    background: #fff;
    padding: 60px 25px 10px;
    position: relative;
    top: 160px;
    left: 0;
    margin: 0 auto;
    text-align: justify;
}

#content .content_area .circle {
    position: absolute;
    margin: 0 auto;
    top: 35px;
    width: 8px;
    height: 8px;
    border: 3px solid #1668b3;
    border-radius: 50%;
}

#content .cont1 {
    background: url(../images/sub4/img4_1.jpg)no-repeat center;
}

#content .cont2 {
    background: url(../images/sub4/img4_2.jpg)no-repeat center;
}

#content .cont3 {
    background: url(../images/sub4/img4_3.jpg)no-repeat center;
}
